<% provide(:title, 'Edit Note') %>
<h1> Edit Note <%= @note.sequence %> about <%= @topic.name%></h1>
<div class="row">
  <div class="span6 offset3">
    
    <%= form_for [@topic, @note] do |f| %>
      <%= render 'note' , f: f %>
    
      <%= f.submit "Update note", class: "btn btn-large btn-primary" %>
    <% end %>

    <%= render 'back' %>
  </div>
</div>
