<% provide(:title, 'New Note') %>
<h1> New Note about <%= @topic.name%></h1>

<div class="row hero-unit">
  <div class="span6 offset3">
    
    <%= form_for [@topic, @note] do |f| %>
      <%= render 'note' , f: f %>

      <%= f.submit "Create", class: "btn btn-large btn-primary" %>
    <% end %>
  
    <%= render 'back' %>

  </div>
</div>