<% provide(:title, 'Topic list') %>
<div class="hero-unit">
  <h1><font color="cc3399">Gloria's Notes</font></h1>
  <h2>
    This site contains my personal notes on various topics of interest to me.
  </h2>
</div>
  
<div class="hero-unit">
  <form>
    Include topic type: 
    <% @all_topic_types.each do |topic_type| %>
      -
      <%= topic_type %>
      <%= check_box_tag "topics_types[#{topic_type}]", 1, @selected_topic_types.keys.include?(topic_type) %>
    <% end %>
    
    <%= submit_tag 'Refresh list', class: "btn btn-small btn-primary " %>
  </form>
  <table class="pretty">
    <tr>
      <th><b><%= sortable "name" %></b></th>
      <th><b><%= sortable "topic_type" %></b></th>
      <th><b><%= sortable "description" %></b></th>
      <th></th>
    </tr>
    
    <% @topics.each do |topic| %>
      <tr>
        <td><%= topic.name %></td>
        <td><%= topic.topic_type %></td>
        <td><%= topic.description %></td>
        <td><%= link_to 'Details & Notes', topic_path(topic) %></td>
      </tr>
    <% end %>
  </table>
 
  <li class="center" style="font-size: 1.2em"><%= link_to 'Add new topic', new_topic_path %></li>
</div>

<div class="hero-unit">
  <h3>
    In the world of software engineering is very important that professionals maintain current and up-to-date on the latest trends of the area in which they operate.
  </h3>
  <h3>
    In this list are presented topics that seem very interesting to me in these times, and that i'm researching and studying.
  </h3>
  <h3>
    The list is not intended to be exhaustive nor accurate, I only want to centralize in a single place points of view and important reminders for me in this process of constant updating that I encounter.
  </h3>
</div>
