<% provide(:title, 'Show topic') %>
<h1> Show Topic <%= @topic.name %></h1>
<div class="row">
    <aside class="span8 offset3">
      <p style="font-size: 1.4em">
        <b>Name:</b> <%= @topic.name %>
      </p>
      <p style="font-size: 1.4em">
        <b>Topic type:</b> <%= @topic.topic_type %>
      </p>
      <p style="font-size: 1.4em">
        <b>Description:</b> <%= @topic.description %>
      </p>
      <p style="font-size: 1.4em">
        <b>Documentation:</b> <%= @topic.documentation %>
      </p>
      
      <span style="font-size: 1.2em">
        <%= link_to 'Edit', edit_topic_path(@topic) %> |
        <%= link_to 'Back', topics_path %>
      </span>
    </aside>

</div>