<% provide(:title, 'Show topic') %>
<h1> Show Topic <%= @topic.name %></h1>
<div class="row">
    <aside class="span8 offset3">
      <p style="font-size: 1.4em">
        <b>Name:</b> <%= @topic.name %>
      </p>
      <p style="font-size: 1.4em">
        <b>Topic type:</b> <%= @topic.topic_type %>
      </p>
      <p style="font-size: 1.4em">
        <b>Description:</b> <%= @topic.description %>
      </p>
      <p style="font-size: 1.4em">
        <b>Documentation:</b> <%= @topic.documentation %>
      </p>
      
      <span style="font-size: 1.2em">
        <%= link_to 'Edit', edit_topic_path(@topic) %>  | 
        <%= link_to 'Back', topics_path %>  |  
        <%= link_to 'New Note', new_topic_note_path(@topic) %>
      </span>
    </aside>

    <div class="span8">
    <% if @topic.notes.any? %>
      <h3>Notes (<%= @topic.notes.count %>)</h3>
      <ol class="notes">
        <table class="pretty">
          <tr style="font-size: 1.2em">
          <th><b>Sequence</b></th>
          <th><b>Note </b></th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
    
        <% @notes.each do |note| %>
          <tr style="font-size: 1.1em">
            <td><%= note.sequence %></td>
            <td><%= note.text %></td>
            <td><%= link_to 'Show',   topic_note_path(@topic, note) %></td>
            <td><%= link_to 'Edit',   edit_topic_note_path(@topic, note) %></td>
            <td><%= link_to 'Remove', topic_note_path(@topic, note), :confirm => 'Are you sure?', :method => :delete %></td>
          </tr>
        <% end %>
       </table>
      </ol>
      <%= will_paginate @notes %>
    <% end %>
  </div>
</div>